<!-- State change buttons -->
<div class="row starter" style="margin-top: 5em;">
  <div class="col-lg-12 text-center starter">
    <button class="btn" [class.btn-primary]="viewState == 'Details'" (click)="changeViewState('Details')">Details View</button>
    <button class="btn" [class.btn-primary]="viewState == 'Update'" (click)="changeViewState('Update')">Update View</button>
  </div>
</div>

<!-- Find one -->
<div class="row" *ngIf="viewState == 'Details'">
    <!-- <div class="row"> -->
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">Smellprofile Details</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody id="list-table">
          <tr [class.selected]="smellprofile === selectedSmellprofile">
            <td>ID</td>
            <td>{{ smellprofile._id }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ smellprofile.name }}</td>
          </tr>
          <tr>
            <td>Long/Lat</td>
            <td>{{ smellprofile.long }}, {{ smellprofile.lat }}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{ smellprofile.type }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ smellprofile.desc }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Map -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div #Detailsgmap style="height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>


    <!-- Buttons -->
    <div class="row" style="margin-top: 1em;">
      <div class="col-lg-12">
        <button class="btn btn-danger" type="button" (click)="deleteSmell()">Delete This Smell</button>
        <button class="btn btn-warning" style="margin-left: 1em;" type="button" (click)="goBack()">Back to Gallery</button>
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End if row -->
</div>

<!-- Update component -->
<app-smellprofile-update *ngIf="viewState == 'Update'"></app-smellprofile-update>

