<!-- State change buttons -->
<div class="row starter" style="margin-top: 5em;">
  <div class="col-lg-12 text-center starter">
    <button class="btn" [class.btn-primary]="viewState == 'Details'" (click)="changeViewState('Details')">Details View</button>
    <button class="btn" [class.btn-primary]="viewState == 'Update'" (click)="changeViewState('Update')">Update View</button>
  </div>
</div>

<!-- Find one -->
<div class="row" *ngIf="viewState == 'Details'">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">Smellprofile Details</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody id="list-table">
          <tr [class.selected]="smellprofile === selectedSmellprofile">
            <td>ID</td>
            <td>{{ smellprofile._id }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{ smellprofile.name }}</td>
          </tr>
          <tr>
            <td>Long/Lat</td>
            <td>{{ smellprofile.long }}, {{ smellprofile.lat }}</td>
          </tr>
          <tr>
            <td>Type</td>
            <td>{{ smellprofile.type }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ smellprofile.desc }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Map -->
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div #Detailsgmap style="height: 300px;"></div>
          </div>
        </div>
      </div>
    </div>


    <!-- Buttons -->
    <div class="row" style="margin-top: 1em;">
      <div class="col-lg-12">
        <button class="btn btn-danger" type="button" (click)="deleteSmell()">Delete This Smell</button>
        <button class="btn btn-warning" style="margin-left: 1em;" type="button" (click)="goBack()">Back to Gallery</button>
      </div>
    </div>
    <!-- End Col -->
  </div>


  <!-- Update -->
  <div class="row" *ngIf="viewState == 'Update'">
    <div class="col-lg-12">
      <h1 class="mt-5 starter">Update Data</h1>
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="container">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12 page-wrapper">
                      <form #newSmellForm="ngForm" (ngSubmit)="updateSmell(newSmellForm.value)">
                        <div class="form-group">
                          <label>Name</label>
                          <input required [ngModel] #name placeholder="Enter text" name="name" class="form-control" value="{{ smellprofile.name }}"
                          />
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">Field is required</div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label>Longitude</label>
                            <input required type="number" #long [ngModel] placeholder="Enter text" name="lon" class="form-control" value="{{ smellprofile.long }}"
                            />
                            <div *ngIf="long.invalid && (long.dirty || long.touched)" class="alert alert-danger">Field is required and must be numeric</div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label>Latitude</label>
                            <input required type="number" #lat [ngModel] placeholder="Enter text" name="lat" class="form-control" value="{{ smellprofile.lat }}"
                            />
                            <div *ngIf="lat.invalid && (lat.dirty || lat.touched)" class="alert alert-danger">Field is required and must be numeric</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Type</label>
                          <select required #type [ngModel] name="type" class="form-control">
                            <option [selected]="smellprofile.type == 'Good'">Good</option>
                            <option [selected]="smellprofile.type == 'Neutral'">Neutral</option>
                            <option [selected]="smellprofile.type == 'Bad'">Bad</option>
                          </select>
                          <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert alert-danger">Field is required</div>
                        </div>
                        <div class="form-group">
                          <label>Description</label>
                          <textarea required #desc [ngModel] rows="3" name="desc" class="form-control" value="{{ smellprofile.desc }}">{{ smellprofile.desc }}</textarea>
                          <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert alert-danger">Field is required</div>
                        </div>
                        <button type="submit" class="btn btn-default" [disabled]="!newSmellForm.valid">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
