extends layout

block content
  .container
    .row
      .col-lg-12.text-center
        h1.mt-5.starter Assignment 5
        p.lead About Section
        p.text-left 
          | For this assignment I have simplified my application.  I removed most of the previous routes in favor of a single page app which can be accessed via the nav bar (or by scrolling on the index page) above (every nav item except “About”).  Each nav item tests the different requirements for our REST API (which I also tested in Post Man).  
        p.text-left
          | The index page makes AJAX calls to update the list view and the drop down menus on the page.  The find, create, update, and delete buttons are also bootstrapped with AJAX based functions that make  calls to the REST API.  
        p.text-left
          | I have not included extensive client-side/server-side integrity error handling for this assignment as I was more focused on error handling for the API itself.  The only main fields to be careful with are the lat/long which should be numeric.  
        iframe(width='940', height='560', src='https://www.youtube.com/embed/zQiOCQ_K_bQ', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

