<div class="row starter" style="margin-top: 5em;">
    <div class="col-lg-12 text-center starter">
  <button class="btn" [class.btn-primary]="viewState == 'Map'" (click)="changeViewState('Map')">Map View</button>
  <button class="btn" [class.btn-primary]="viewState == 'List'" (click)="changeViewState('List')">List View</button>
  <button class="btn" [class.btn-primary]="viewState == 'New'" (click)="changeViewState('New')">Create New</button>
  </div>
</div>

<div class="row starter">
  <div class="col-lg-12 text-center">
    <h1>Smell Map</h1>
  </div>
</div>
<app-smellprofile-list *ngIf="viewState == 'List'"></app-smellprofile-list>
<app-smellprofile-map *ngIf="viewState == 'Map'"></app-smellprofile-map>
<app-smellprofile-new *ngIf="viewState == 'New'" (newSmellEvent)="updateSmells()"></app-smellprofile-new>